@charset "UTF-8";
/* aside 테이블관리 */ 
 
.MyPage_Form{  
    width: 70%; 
    margin: 0 auto;
}
 
.aside table tr td{ 
    width: 150px; 
    border:1px solid rgb(155, 155, 155);
    border-collapse: collapse;
}

.aside table tr td >a{ 
   text-decoration: none;
   color: rgb(40, 40, 40);
}


.orderlist>span , .basket>span{   
    margin-left: 90px; 
 }
 .review>span{
     margin-left: 90px; 
 }
.point>span, .my_info>span{
    margin-left:105px;
}
 
.ask>span{
    margin-left:95px;
}

.aside{   
    position: absolute;
    display: inline-block;
    width: 180px;
    height: 700px;  
}

.aside>p{
    font-size: 30px;
    font-weight: 900; 
} 

.orderlist, .basket, .review, .point, .ask, .my_info { 
    padding-left:25px;
    padding: 8px;
    width: 178px;
    height: 40px;
} 
.orderlist>a , .basket>a, .review>a, .point>a, .ask>a, .my_info>a {
    color: rgb(40, 40, 40);
    text-decoration: none;
}

.orderlist:hover{ 
    background-color: rgb(239, 239, 239);
}
/* aside end*/

  

/* section */ 
.section{   
    padding-top:50px;
    width: 1100px; 
    vertical-align: top;
}
 
.head_orderlist{  
    width: 1000px;
    padding-left:230px;
}

.delete-info-text1{
    width: 200px;
    height: 200px;
    float: left;
    text-align: left;
} 
.delete-info-text2{
    width: 550px;
    float: right;
    text-align: left;
}  

.delete-info-text3{  
    margin-top: 30px;
    text-align: left;
}

.delete-info-text4{
    width: 210px;
    height: 140px;
    text-align: left;
}
input[type=password]{
    margin-top: 30px;
    width: 300px; 
}

.complain{
    padding-top: 30px;
    text-align: left;
}
.form-check{
    text-align: left;
}

.text-box{
    padding-top: 30px;
}

 
input[type=submit]{ 
    background-color: #d4b886;
    width: 165px; 
    margin-top: 50px;
  }
  
  input[type=button]{  
    background-color: #d4b886;
    width: 165px; 
    margin-top: 50px;
  }

  .delete_cancle{ 
  	padding-left:90px;
    text-align: center;
  } 
   