@charset "UTF-8"; 
/* *{border:1px solid red} */
   /* 아이디 비밀번호 박스 */
       input[type=text]{ 
           padding-left: 45px;
           font-size: 12px;
           margin: 0 auto;
           width: 290px;
           height: 45px;
           margin-top: 7px; 
       } 
       
       input[type=password]{
           padding-left: 45px;
           font-size: 12px;
           margin: 0 auto;
           width: 290px;
           height: 45px;
           margin-top: 5px; 
       }
        
       .login>img{
            position: absolute; 
            margin: 13px 17px;
       }
          
       .pw>img{
           position: absolute;
           margin: 10px 17px;
       }

       /* 아이디 비밀번호 박스 끝 */

       /* 자동 로그인 아이디 비밀번호 찾기 박스 */ 
       .form-check{    
           margin: 8px; 
           text-align:left;  
       }
       .form-check>label{
           margin: 5px;  
       } 
       .find>a{      
         color: black;
       }
       .find{
        font-size: 12px;
       	padding-top:5px;
      	width:140px;
   	 	float:right;
       } 
       /* 자동 로그인 아이디 비밀번호 찾기 박스 끝 */

       /* 로그인 회원가입 박스 */
       .loginDiv3{
        margin-top: 30px;
        text-align: center;
       }
       .login_btn{
           text-align: center;
           color: rgb(53, 53, 53);
           width: 290px;
           height: 45px;
           border-radius: 4px;
           background-color: #d4b886;
           border: bisque;
           font-size: 13px;
       }
       .join_btn{
           text-align: center;
           margin-top: 8px;
           color: rgb(53, 53, 53);
           width: 290px;
           height: 45px;
           border-radius: 4px;  
           border: #9e7732 1.3px solid;
           background-color: white;
           font-size: 13px;
       }
        /* 로그인 회원가입 박스 끝*/
       .login_head{
            font-size: 30px;
			text-align: center;
			
		}

    	.loginWrapper{
           margin: 0 auto;
            width: 300px; 
            margin-top: 60px;
       } 