

/* 글보기 */
.content_box{ 
    margin-top: 50px;
    height:1000px;
    width: 990px;
    border:1px solid rgb(236, 236, 236);
    box-shadow: 0 0 5px 0 rgb(243, 243, 243);
}
.category_text{
    padding:30px;
}
.category_text>a{
    text-decoration: none;
    color:black;
}
.list_box{
    float: right;
    position: relative;
}

.list_box2{
    float: right;
    position: relative;
    padding-right: 35px;
    padding-top:30px;
}
.title_text{
    padding-top:5px;
    padding-left: 10px;
    font-size: 30px;
}

.profile_info{   
    padding-top:5px;
    padding-left: 10px;
}  
.myinfo_box{

    width: 350px;
}

.my_info_text{
    padding-left:20px;
   
} 

.upload_content{
    padding-top:5px;
}
.my_info_text2{
    padding-left: 10px;
}

.hit_count{
    margin-top: -3.4vh;
    float: right;
    padding-left: 10px;
}
.hit_count2{
    padding-left: 10px;
}
 
.reply_box{
    margin-top:30px;
    float:right;
    text-align: right;
}

.reply_text2{
    padding-left: 10px;

}
.reply_text>a{
    text-decoration: none;
    color:black
}
.reply_img{
    padding-right: 10px;
}

.reply_img2{
    margin-left: 30px;
}

.main_content_box{  
    width: 915px; 
}

.main_content_box>span{
	text-align: center;
}

.heart_text{ 
    padding-left:10px;
}
.reply_bottom_box{
    padding-top:40px;
}
.reply_bottom_box>a{ 
    color: black;
} 

.heart_text2{
    padding-left:10px;
}
.reply_text{
    padding-left: 10px;
}
.reply_text3{
    font-size: 30px;
    font-weight: 900;
}
.reply_date{
    padding-left:15px;
}
.reply_f_upload{
    padding-left:15px;
}

.reply_content{
    margin-top:15px;
    width: 915px;
    height: 150px;
    border:1px solid rgb(236, 236, 236);
}

.myInfo_img{
    padding:30px;
}

.content_text{
    padding-top:15px;
}

input[type=submit]{
    width: 120px;
    height: 110px;
    margin-top:15px;
    margin-left: 15px;
    border: 1px solid rgb(156, 156, 156);
}
/* 댓글달기 */

.reply_date{
	padding-left:50px;
}

.delete_reply{
	padding-left:10px;
} 

 