@charset "UTF-8";

/* 글쓰기 */ㅎ
.write_box{
    padding-top:50px;
}
 
.board_category{ 
    z-index:2; 
    height: 25px;
    
}  

 .title_2{
     margin-top: 7px;
 }
 .title_2>span{
    font-weight: 900;
 }


.text_form{  
    padding-left: 90px; 
    width: 300px;
}
.text_form2{
    padding-left: 90px; 
    width: 500px;
    
}

.title_form_text{
	height:15px;
}


input[type=text]{
	height:35px;
}

.top_form td{
    padding-top: 5px;
}
 
.footer{
	padding-top:30px;
}

/* 파일업로드  */
.file_upload_add{
	float:left;
}
